*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: calc(1.5em + 0.2vw) !important;
  font: inherit;
}

:where(img, picture, svg, video) {
  display: block;
  max-width: 100%;
}

body {
  max-width: 100%;
  min-height: 100vh;
}

nav {
  background-color: blueviolet;
}

ul {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

li {
  padding: 40px;
}

a {
  color: white;
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
}
